<div class="jumbotron">
		<h1>ImgDictionary</h1>
		<h2>Изучайте иностранные слова с помощью рисования изображений-ассоциаций</h2>
		<br>

  	    <% if !user_signed_in? %>
			<%= link_to new_user_session_path, :class => "btn btn-success btn-lg" do %>
			  <span class="glyphicon glyphicon-log-in"></span>
			  <%= t('menu.login') %>
			<% end %>

			<%= link_to new_user_registration_path, :class => "btn btn-primary btn-lg" do %>
			  <span class="glyphicon glyphicon-ok"></span>
			  <%= t('menu.reg') %>
			<% end %>
        <% end %>
</div>

<div class="row">
  <div class="container">
     <div class="well well-lg">
          
      <h3>Все что тебе нужно:
      <br><strong>Желание</strong>
      <br><strong>Воображение</strong>
      </h3>
      <br>Хорошо запоминается то, над чем мы долго практикуемся</p>
      <br>ImgD предоставляет именно это
      <br>Здесь не будет волшебных таблеток или мотивационных пожеланий
      <br>Но если ты хочешь выучить язык и тебе нужен еще один вид практики - это приложение для тебя
      <br>
      <h3>Схема работы</h3>
      <li>Добавляешь иностранное слово или фразу</li>
      <li>Пишешь перевод</li>
      <li>Представляешь в воображении ассоциацию</li>
      <li>Рисуешь ассоциацию и закрепляешь нарисованное в голове</li>
      Ты работаешь над этим словом, придумываешь ассоциацию, рисуешь ее
      <br>Теперь ты имеешь практический опыт со словом
      <br>
      А значит и знаешь его :)
    </div>
  </div>
</div>
        </div>