  <style> 
  /* Customize container */
  @media (min-width: 768px) {
    .container {
      max-width: 730px;
    }
  }
  </style>
  <script type="text/javascript">
      var editor1 = null;
      $(function(){
    editor1 = new editor('view', 650, 400); 
    editor1.onSave(function(image){         
        var win = window.open(image);
    });
      });     
  </script>

    <div class="container">

  <div class="header">
      <h3>Draw your association with this word</h3>
  </div>

  <div class="well" id="view">      
  </div>
    </div>