<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
        <%= link_to "Home",    root_path, class: "blog-nav-item active"%>
        <%= link_to "nav-element",    '#', class: "blog-nav-item"%>
   		<%= link_to "nav-element", '#', class: "blog-nav-item"%>
    </nav>
  </div>
</div>